*{
<<<<<<< HEAD
    /*기본 값*/
=======
>>>>>>> 4c113c819de2415c8cad3c65bb416dc18e5ebaab
    font-family: 'Noto Sans KR';
    text-decoration: none;
    border-collapse: collapse;
    list-style: none;
    margin:0px;
    padding: 0px;
    color: #363636;
}

.intro_bg{
    background-image: url(images/bg.svg);
    width: auto;
<<<<<<< HEAD
    height: 1092px;
=======
    height: 1186px;
>>>>>>> 4c113c819de2415c8cad3c65bb416dc18e5ebaab
    
}
.header{
    display: flex;
    justify-content: center;
    padding-left: 34px;
    padding-top: 34px;
    padding-right: 34px;
    justify-content: space-between;
}

.nav{
    text-align: right;
    display: flex;
    justify-content: left;
}

.nav>li{
    font-size: 18px;
    margin-left: 20px;  
}

.logo{
    margin-left: 15%;
    justify-content: center;
<<<<<<< HEAD
}
.intro{
    margin-top: 10%;
    margin-bottom: 15%;
    margin-left: 40px;
    margin-right: 40px;
}
.text_table{
    font-size: 14px;
    
    display: flex;
}
.txt{
    
}
.korean{
    margin-bottom: 10px;
}
=======
}

.text_table{
    font-size: 14px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
}

>>>>>>> 4c113c819de2415c8cad3c65bb416dc18e5ebaab
.intro_img{
    padding-left: 20px;
    padding-right: 20px;
    float: right;
}
.infor{
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 5%;
}
.line{
    border-top-width:1px; 
    border-color:#1a1a1a;
}
.infor_nav{
    font-size: 14px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.title{
    margin-bottom: 30px;
}
.line2{
    margin-bottom: 5%;
    border-top-width:1px; 
    border-color:#1a1a1a;
}
.use_nav{
    display: flex;
    text-align: right;
    display: flex;
    justify-content: left;
}

.use_nav>li{
    font-size: 14px;
    margin-right: 30px;
}